button {
  background: blue;
  color: white;
  font-weight: bold;
  padding: 10px 10px;
  border: none;
  border-radius: 0px 7px 9px 0px;
}

input {
  border-radius: 20px 0px 0px 20px;
  border-color: blue;
  margin-top: 50%;
}